<div class="media text-muted pt-3">

    <ul class="list-group">

        <li class="list-group-item d-flex justify-content-between align-items-center">

            <div class="media">
                <img data-src="https://robohash.org/{{ friend.id }}.jpg?size=50x50&set=set1" src="..." class="mr-3"
                     alt="...">
                <div class="media-body">
                    <h5 class="mt-0">  {{ friend.first_name }} {{ friend.last_name }}</h5>
                </div>
            </div>


        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <app-rating (ratingChange)="ratingChange($event)" [id]="friend.id" [value]="friend.rating" ></app-rating>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ friend.city }}
            <span class="badge badge-primary badge-pill">2</span>
        </li>

    </ul>
  <!--  {"id":"dc6a11ed422907eb269d4d5d17431e8ff03e369d","first_name":"Taite","last_name":"Muscott","email":"tmuscott0@upenn.edu","gender":"Male","ip_address":"https://robohash.org/nonisteautem.bmp?size=50x50&set=set1","city":"Sallanches"},
-->

</div>
