
.sort-block {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
  height: 2.75rem;

  span {

    padding-right: 3px;
    font-size: .875rem;
    color: var(--secondary);
  }

  .star {
    color: #CCCCCC;
    cursor: pointer;
    &.active {
      color: #2ECEE8;
    }
  }

  .reset {
    cursor: pointer;
    font-size: 18px;
    color: #CCCCCC;
    padding-left: 5px;
  }
}

.sort-name {
  display: inline;
}
