:host {
  display: flex;
}

.sort-block {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
  height: 2.75rem;

  span {
    padding-right: 3px;
    font-size: 0.875rem;
    color: var(--secondary);
  }

  .star {
    color: #cccccc;
    cursor: pointer;
    &.active {
      color: #2ecee8;
    }
  }

  .reset {
    cursor: pointer;
    font-size: 18px;
    color: #cccccc;
    padding-left: 5px;
  }
}

.sort-name {
  display: inline;
}

@media (max-width: 415px) {
  :host {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
