.star-block {
  &:hover .material-icons {
    color: #2ecde6;
  }

  .material-icons {
    cursor: pointer;
    font-size: 20px;
    color: #cccccc;

    &.active {
      color: #2ecde6;
    }

    &:hover {
      color: #2ecde6;
    }

    * ~ &:hover {
      color: #2ecde6;
    }

    &:hover ~ * {
      color: #cccccc;
    }
  }
}
