<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-cyan">
    <div class="container">
        <a class="navbar-brand" routerLink="/" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  " id="navbarSupportedContent">

            <ul  class="navbar-nav mr-auto ">



            </ul>
            <div class="form-inline my-2 my-lg-0">

                <div [ngClass]="{'open':mobileMenu}">
                    <div class="navbar-nav mr-auto"></div>
                    <app-header-search (initSearch)="initSearch($event)"></app-header-search>

                </div>
            </div>
        </div>
    </div>
</nav>

