<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-cyan">

    <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">{{title}}</a>

        <button (click)="showMobileMenu()" class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngClass]="{'open':mobileMenu}" class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <div class="navbar-nav mr-auto"></div>
            <app-header-search (initSearch)="initSearch($event)"></app-header-search>

        </div>
    </div>
</nav>
