<div class="  bg-white box-shadow ">

    <div class="container">


        <div class="nav-friend">

            <nav class="nav nav-underline">
                <a  routerLink="/" (click)="showBookmark()" [ngClass]="{'active': (!activeBookmark)}" class="nav-link active" href="#">Все</a>

                <a routerLink="/" (click)="showBookmark(true)" [ngClass]="{'active': (activeBookmark)}" class="nav-link" href="#">
                    Избранные
                    <span class="badge badge-pill bg-light align-text-bottom">{{countBookmark}}</span>
                </a>

            </nav>

            <app-nav-sort [typeSort]="typeSort" (changeSort)="changeSort($event)"></app-nav-sort>


        </div>


    </div>
</div>
