:host {
  display: flex;
  width: 100%;
  form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  margin-right: 10px;
  i {
    cursor: pointer;
    color: #fff;
    margin-right: 7px;
  }

}

.header-search {
  display: flex;
  width: 100%;
}

.search-box {
  width: calc(100% - 30px);
}
