<div class="mb-3 bg-white box-shadow">
  <div class="container">
    <div class="nav-friend">
      <nav class="nav nav-underline">
        <a
          routerLink="/"
          (click)="showBookmarks(false)"
          [ngClass]="{ active: !activeBookmark }"
          class="nav-link active"
          href="#"
        >Все</a>

        <a
          routerLink="/"
          (click)="showBookmarks(true)"
          [ngClass]="{ active: activeBookmark }"
          class="nav-link"
          href="#">
          Избранные
          <span class="badge badge-pill bg-light align-text-bottom">{{
            bookmarksCount$ | async
            }}</span>
        </a>
      </nav>

      <app-nav-sort
        *appIsFriendsList
        [typeSort]="typeSort$ | async"
        (changeSort)="changeSort($event)">
      </app-nav-sort>
    </div>
  </div>
</div>
