.nav-friend {
  display: flex;
  align-content: center;
  justify-content: space-between;

  .nav-link {
    &.active {
      color: #2ecde6;
    }
  }
}

@media (max-width: 415px) {
  .nav-friend {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    .nav {
      justify-content: center;
      width: 100%;
    }
  }
}
