<div *ngIf="friend" class="media text-muted pt-3">
  <app-bookmark
    (bookmarkChange)="bookmarkChange($event)"
    [bookmark]="friend.bookmark"
    [id]="friend.id"
  ></app-bookmark>

  <div class="friend-img border rounded">
    <a [routerLink]="['/friends', friend.id]">
      <img
        data-src="https://robohash.org/{{ friend.id }}.png?size=50x50&set=set1"
        alt=""
        class="mr-2"
      /></a>
  </div>

  <p
    class="w-100 align-items-center d-flex flex-row justify-content-between mb-0 small h-50px border-bottom border-gray">
    <a [routerLink]="['/friends', friend.id]" class="primary">
      {{ friend.first_name }} {{ friend.last_name }}
    </a>

    <app-rating
      (ratingChange)="ratingChange($event)"
      [id]="friend.id"
      [value]="friend.rating"
    ></app-rating>

    {{ friend.city }}
  </p>
</div>
