/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: var(--purple);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

.bg-cyan {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#30d1f2+0,1faf84+57,1faf84+100 */
  background: #30d1f2; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #30d1f2 0%,
    #1faf84 57%,
    #1faf84 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #30d1f2 0%,
    #1faf84 57%,
    #1faf84 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #30d1f2 0%,
    #1faf84 57%,
    #1faf84 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30d1f2', endColorstr='#1faf84',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.star-block {
  .material-icons {
    cursor: pointer;
    font-size: 20px;
    color: #cccccc;

    &.active {
      color: #2ecde6;
    }
  }
}

.friend-img {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  a {
    display: block;
  }
}
